.showPlayerOne {
  display: none;
}

.showPlayerTwo {
  display: none;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 200px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.picOne {
  display: none;
}
.picTwo {
  display: none;
}
.picThree {
  display: none;
}
.picFour {
  display: none;
}
.picFive {
  display: none;
}
.picSix {
  display: none;
}
.POne {
  display: none;
}
.PTwo {
  display: none;
}
